Repository Mityuha/fresh-bakery: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstringformatter, isort, black, mypy, pylint, sort-all

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pydocstringformatter
        name: pydocstringformatter
        description: "Formats docstrings to follow PEP8 and PEP257."
        language: system
        entry: poetry run pydocstringformatter
        args:
          [
            "-w",
            "--max-line-length=120",
          ]
        types: [python]
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true
        exclude: examples
      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint
        types: [python]
        exclude: examples
      - id: sort-all
        name: sort-all
        stages: [commit]
        language: system
        entry: poetry run sort-all
        types: [python]
        exclude: examples

Important reqs section for readme
  README.md
Due: none

Readme further updates
  README.md
Due: none

More comprehensive readme
  README.md
Due: none

Small readme update (#23)
  README.md
Due: none

add readthedocs (#22)
  docs/bakery_and_cakes.md
  docs/bakery_and_cakes_advanced.md
  docs/baking_methods.md
  docs/dependency_injection.md
  docs/index.md
  docs/requirements.txt
  docs/test_bakery.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

fix tox deps versions
  pyproject.toml
Due: none

fix tox deps versions (#24)
  pyproject.toml
Due: none

test piece of cake as cake (old style)
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

fix exception message
  bakery/stuff.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

call recipe if it is piece of cake either
  bakery/baking.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

tests for piece of cake
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

handly make any object
  bakery/baking.py
  bakery/cake.py
  tests/test_cake_baking_methods.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

awkward unbaking tests
  bakery/baking.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

documentation fix
  docs/baking_methods.md
Due: none

add new function: check if object is cake or piece of cake
  bakery/baking.py
  bakery/stuff.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

Feature/13 recipe is piece of cake (#25)
  bakery/baking.py
  bakery/stuff.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

replace with is_cake_or_piece function
  bakery/baking.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

break complex condition on two simple
  bakery/baking.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

Feature/26 hand made any object not only cakes (#27)
  bakery/baking.py
  bakery/cake.py
  docs/baking_methods.md
  tests/test_cake_baking_methods.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

prepare for 0.2.0 version release
  pyproject.toml
Due: none

prepare for 0.2.0 version release (#28)
  pyproject.toml
Due: none

add python 3.11 support
  .github/workflows/build.yaml
  pyproject.toml
Due: none

false positive isinstance
  pyproject.toml
Due: none

exception changed in python 3.11: AttributeError --> TypeError
  tests/test_bakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

explicitly restrict python version (less than 3.12)
  pyproject.toml
Due: none

add python 3.11 support (#29)
  .github/workflows/build.yaml
  pyproject.toml
  tests/test_bakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

fix ubuntu image; change actions' versions
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Due: none

explicitly specify runs-on on demand
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Due: none

add python 3.11 classifier; change patch version
  pyproject.toml
Due: none

fix ubuntu image; change actions' versions (#30)
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
  pyproject.toml
Due: none

pastry attributes for inspection (inspect module's functions)
  bakery/baking.py
  bakery/cake.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

change raw cake copy strategy; add deepcopy ability
  bakery/baking.py
  bakery/cake.py
  tests/test_bakery.py
  tests/test_cake_copy.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

forbid cake.func notation
  bakery/cake.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

forbid cake.__wrapped__ notation
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

test for func, __wrapped__ attributes usage
  bakery/cake.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

litestar example
  examples/litestar_tester/poetry.lock
  examples/litestar_tester/pyproject.toml
  examples/litestar_tester/test_app/__init__.py
  examples/litestar_tester/test_app/__main__.py
Due: pydocstringformatter, isort, black

change bakery version
  pyproject.toml
Due: none

some packages for example
  examples/litestar_tester/poetry.lock
  examples/litestar_tester/pyproject.toml
Due: none

fix app, add tests
  examples/litestar_tester/test_app/__main__.py
  examples/litestar_tester/tests/__init__.py
  examples/litestar_tester/tests/test_route_handler.py
Due: pydocstringformatter, isort, black

fix #8 issue
  bakery/bakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all
