Repository Mityuha/fresh-bakery: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydocstringformatter, isort, black, mypy, pylint, sort-all

pydocstringformatter:
  name: pydocstringformatter
  description: Formats docstrings to follow PEP8 and PEP257.
  language: system
  entry: poetry run pydocstringformatter
  args:
  - -w
  - --max-line-length=120

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: poetry run pylint

sort-all:
  name: sort-all
  stages:
  - commit
  language: system
  entry: poetry run sort-all

fix pytest dependency
  pyproject.toml
Due: none

remove annotations import (not supported in 3.6)
  tests/bakery_mock/test_nested_cakes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

Feature/41 cakes only (#44)
  bakery/testbakery.py
  docs/test_bakery.md
  pyproject.toml
  tests/bakery_mock/__init__.py
  tests/bakery_mock/test_complex_bakery_mock.py
  tests/bakery_mock/test_deprecated_direct_assignment.py
  tests/bakery_mock/test_docs_examples.py
  tests/bakery_mock/test_mock_after_open.py
  tests/bakery_mock/test_nested_cakes.py
  tests/bakery_mock/test_patch_before_open.py
  tests/test_bakery_mock.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

add readthedocs config file
  .readthedocs.yaml
Due: none

add readthedocs config file (#47)
  .readthedocs.yaml
Due: none

bakery di proof of concept
  bakery/bakery.py
  bakery/bakery.pyi
  bakery/cake.py
  pyproject.toml
  tests/bakery_di/__init__.py
  tests/bakery_di/test_bakery_di.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

set name
  bakery/bakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

TBD: cake's owner manages its lifecycle (RAII)
  tests/bakery_di/test_bakery_into_bakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

attribute name fix
  bakery/bakery.py
  tests/bakery_di/test_bakery_di_with_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

removing Ingredients class: PoC
  bakery/bakery.py
  bakery/baking.py
  bakery/cake.py
  bakery/stuff.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

update litestar example
  examples/litestar_tester/poetry.lock
  examples/litestar_tester/pyproject.toml
  examples/litestar_tester/test_app/__main__.py
Due: pydocstringformatter, isort, black

comment litestar special (beta) attributes
  bakery/cake.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

Feature/42 ruff
  .github/workflows/build.yaml
  .pre-commit-config.yaml
  bakery/__init__.py
  bakery/bakery.py
  bakery/bakery.pyi
  bakery/baking.py
  bakery/cake.py
  bakery/mypy.py
  bakery/piece_of_cake.py
  bakery/shape.py
  bakery/stuff.py
  bakery/testbakery.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/bakery_mock/__init__.py
  tests/bakery_mock/test_complex_bakery_mock.py
  tests/bakery_mock/test_deprecated_direct_assignment.py
  tests/bakery_mock/test_docs_examples.py
  tests/bakery_mock/test_mock_after_open.py
  tests/bakery_mock/test_nested_cakes.py
  tests/bakery_mock/test_patch_before_open.py
  tests/test_anon_cakes_unbaked.py
  tests/test_bakery.py
  tests/test_bakery_as_cake.py
  tests/test_cake_baking_methods.py
  tests/test_cake_copy.py
  tests/test_cake_hooks.py
  tests/test_cake_special_attributes.py
  tests/test_cake_unpacking.py
  tests/test_cakes_baking.py
  tests/test_partial_bakery.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

Feature/42 ruff
  README.md
  examples/bakery_tester2/tests/test_get_person.py
Due: pydocstringformatter, isort, black

ignore D213 instead
  poetry.lock
  pyproject.toml
Due: none

fix D212 warning
  bakery/bakery.py
  bakery/baking.py
  bakery/cake.py
  bakery/mypy.py
  bakery/piece_of_cake.py
  bakery/shape.py
  tests/test_bakery.py
  tests/test_cake_baking_methods.py
  tests/test_cake_copy.py
  tests/test_cake_special_attributes.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

remove all from pyi
  bakery/bakery.pyi
Due: none

fix requirements
  docs/index.md
Due: none

update dependencies in pipeline
  poetry.lock
  pyproject.toml
Due: none

update typing-extensions for pipeline
  pyproject.toml
Due: none

update all libs; remove types-dataclasses
  poetry.lock
  pyproject.toml
Due: none

update pipeline dependencies
  poetry.lock
  pyproject.toml
Due: none

fix pre-commit
  .pre-commit-config.yaml
Due: none

auto fix linting problems
  pyproject.toml
Due: none

remove unused shape.py file
  bakery/shape.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

fix docstring
  bakery/stuff.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

check for format in pipeline as well
  pyproject.toml
Due: none

fix typo
  tests/bakery_mock/test_nested_cakes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

add ruff options
  pyproject.toml
Due: none

reformat file; disable D413
  bakery/piece_of_cake.py
  pyproject.toml
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

bump library version
  pyproject.toml
Due: none

Feature/42 ruff (#51)
  .github/workflows/build.yaml
  .pre-commit-config.yaml
  README.md
  bakery/__init__.py
  bakery/bakery.py
  bakery/bakery.pyi
  bakery/baking.py
  bakery/cake.py
  bakery/mypy.py
  bakery/piece_of_cake.py
  bakery/shape.py
  bakery/stuff.py
  bakery/testbakery.py
  docs/index.md
  examples/bakery_tester2/tests/test_get_person.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/bakery_mock/__init__.py
  tests/bakery_mock/test_complex_bakery_mock.py
  tests/bakery_mock/test_deprecated_direct_assignment.py
  tests/bakery_mock/test_docs_examples.py
  tests/bakery_mock/test_mock_after_open.py
  tests/bakery_mock/test_nested_cakes.py
  tests/bakery_mock/test_patch_before_open.py
  tests/test_anon_cakes_unbaked.py
  tests/test_bakery.py
  tests/test_bakery_as_cake.py
  tests/test_cake_baking_methods.py
  tests/test_cake_copy.py
  tests/test_cake_hooks.py
  tests/test_cake_special_attributes.py
  tests/test_cake_unpacking.py
  tests/test_cakes_baking.py
  tests/test_partial_bakery.py
  tests/test_piece_of_cake_as_cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

removal that works; needs some beauty and typing stuff
  bakery/baking.py
  bakery/cake.py
  bakery/stuff.py
  bakery/testbakery.py
  tests/test_anon_cakes_unbaked.py
  tests/test_cake_copy.py
  tests/test_cake_special_attributes.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

split stuff single file to module; fixes needed
  bakery/stuff.py
  bakery/stuff/__init__.py
  bakery/stuff/cake_stuff.py
  bakery/stuff/log_stuff.py
  bakery/stuff/stuff.py
  bakery/stuff/types.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

fix ruff docstring warnings
  bakery/__init__.py
  bakery/baking.py
  bakery/cake.py
  bakery/stuff/cake_stuff.py
  bakery/stuff/stuff.py
  bakery/stuff/types.py
  pyproject.toml
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

pep8 __all__ dunder location
  bakery/stuff/cake_stuff.py
  bakery/stuff/log_stuff.py
  bakery/stuff/stuff.py
  bakery/stuff/types.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

simplify recipe baking
  bakery/baking.py
  bakery/cake.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

fix mypy errors
  bakery/cake.py
  bakery/piece_of_cake.py
  bakery/stuff/cake_stuff.py
  bakery/stuff/types.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

some small fixes and improvements
  bakery/bakery.py
  bakery/baking.py
  bakery/cake.py
  bakery/stuff/cake_stuff.py
  bakery/stuff/types.py
  bakery/testbakery.py
Due: pydocstringformatter, isort, black, mypy, pylint, sort-all

add fresh-bakery as explicit dependency
  examples/bakery_tester1/poetry.lock
  examples/bakery_tester1/pyproject.toml
Due: none

Path conditions:
  pydocstringformatter: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: examples
  pylint: any of: \.py$, but not: examples
  sort-all: any of: \.py$, but not: examples
